<form ng-submit="login()">
    <div class="mdl-textfield mdl-js-textfield">
        <input id="email" type="text" class="mdl-textfield__input" name="email" ng-model="model.email">
        <label class="mdl-textfield__label" for="email">Email</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <input id="password" type="password" class="mdl-textfield__input" name="password" ng-model="model.password">
        <label class="mdl-textfield__label" for="password">Password</label>
    </div>

    <button id="entrar" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Login</button>
</form>
